@import url(reset.css);

body{
    background-color: ghostwhite;
}

.page {
    height: 100vh;
}

.header {
    height: 10vh;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu {
    width: 50vw;
    height: 100vh;
    background-color: navy;
    position: fixed;
    top: 0;
    left: -50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: left;
    transition-duration: .5s;
}

.menu a {
    color: white;
    line-height: 40px;
}

.closeMenu {
    position: absolute;
    top: 20px;
    left: 20px;
}

.content {
    height: 80vh;
}

.request {
    width: 300px;
    height: 80px;
    background-color: white;
    border: 2px solid navy;
    display: block;
    margin: 20px auto;
    font-size: 30px;
    cursor: pointer;
    color: navy;
}
.request:hover {
    background-color: navy;
    color: white;
}

.footer {
    height: 10vh;
    background-color: navy;
}

.popup {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: navy;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup h1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -8px;

}
.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
}
