@import	url(reset.css);

@keyframes fall {
	from {
		bottom: 400px;
	}
	to {
		bottom: 0;
	}
}

.page {
	height: 100vh;
	position: relative;
}

.ball {
	width: 100px;
	height: 100px;
	background-image: url(../img/ball.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 400px;
}

.animated {
	animation: fall 1s linear infinite alternate;
}